extends layout

block content
  div.head
    h1= title
    p Welcome to #{title}
  div.feedMenu
    ul
      each value, index in _list
        li
          a(href="feed?id=#{value.id}", title="#{value.feedName}") #{value.feedName}
  div.display
    each value, index in _feed
      div.feed
        div.title
          a(href="#{value.link}", title="#{value.title}") #{value.title}
        div.content
          #{value.content}
