extends layout
block feed_menu
  ul
    each value, index in _list
      li
        a(href="feed?id=#{value.id}", title="#{value.feedName}") #{value.feedName}


block content
  h1= title
  p Welcome to #{title}
  
  each value, index in _feed
    div.feed
      div.title
        a(href="#{value.link}", title="#{value.title}") #{value.title}
      div.content
        #{value.content}
